body {
    background-color: #334155;
    color: #e5e7eb; 
}

.dark-color-bg {
  background-color: #1c232e;
}

.dark-color-bg-card {
  background-color: #334155;
}

.task-list {
  max-height: 67vh;
}

.card-description { 
  max-height: 100px;
}

.task-list, .card-description {
  padding-right: 0.5rem;
  scrollbar-width: thin;
}