body.dark {
  background-color: #334155;
  color: #e5e7eb; 
}

body.dark .color-bg {
  background-color: #1c232e;
  color: white;
}

body.dark .color-bg-card {
  background-color: #334155;
  color: white;
}

body.dark .dropdown-menu-color {
  background-color: #334155;
  color: white;
}

body.dark .dropdown-menu-color button {
  background-color: #334155;
  color: white;
}

body.dark .dropdown-menu-btn{
  color: white;
}

body.light {
  color: #212529;
}

body.light .color-bg {
  background-color: #F2EFEF;
  color: #212529;
}

body.light .color-bg-card {
  background-color: #fff;
  color: #212529;
}

body.light .dropdown-menu-color {
  background-color: #f0f0f0;
}

body.light .dropdown-menu-btn{
  color: #212529;
}

.task-list {
  max-height: 66vh;
}

.card-description { 
  min-height: 7.5vh;
  max-height: 13vh;
}

.task-list, .card-description {
  padding-right: 0.5rem;
  scrollbar-width: thin;
}

.btn-add-column {
  max-height: 5vh;
  min-width: 40vh;
}

.column-item {
  min-width: 45vh;
  max-width: 45vh;
}